[2021-09-02 18:37] jakewvincent opened #1 "Navigation backwards through opened buffers proceeds in order in which buffers were opened"
When navigating through files in nested directories, navigate backwards, and then navigate through nested directories along a different path, <BS> doesn't take you to last-opened, but to a file on the first path.

[2021-09-02 18:39] jakewvincent opened #2 "Won't create missing directories if path name has spaces in it"
The function that creates missing directories has stopped working. An error is thrown on attempted write:

[code]

[2021-09-02 18:41] jakewvincent commented on #2
Still works if there are no spaces in the path name

[2021-09-20 04:44] #2 closed

[2021-09-20 04:53] jakewvincent commented on #2
Fixed in commit #f01eb89

[2021-09-21 22:26] #1 closed

[2021-09-21 22:36] jakewvincent commented on #1
Should be fixed with commit #d98c5fc. I implemented a pushdown stack in `lua/mkdnflow/files.lua` to help handle navigation in the expected way. The stack is a local variable defined in `lua/mkdnflow/files.lua`. Navigating from the current buffer using `followPath()` (mapped to <CR> by default) pushes the number of the buffer we just left onto the top of the buffer stack. Going back using `goBack()

[2021-09-24 03:46] jakewvincent opened #3 "Local files are not opening"
When using `followPath()` (mapped to `<CR>` by default in normal mode) on a link that goes to a local file (e.g. `[Notes](file:~/Documents/notes.xopp)`), nothing happens.

[2021-09-24 03:50] #3 closed

[2021-09-24 03:51] jakewvincent commented on #3
Fixed in commit #4b32184

[2021-09-24 04:03] jakewvincent opened #4 "Local files don't open relative to path of current file"

[2021-09-24 22:00] #4 closed

[2021-10-27 20:19] AndOrangutan opened #5 "Plugin doesn't work if you don't start nvim with a .md file."
Is there any way to enable mkdnflow in an already existing nvim buffer? I use [alpha](https://github.com/goolord/alpha-nvim) and would love to open my notebook from it.

![2021-10-27_13-10](https://user-images.githubusercontent.com/40435989/139140073-29995f1a-7255-4554-933e-3e5bd984ae0d.png)
![2021-10-27_13-11](https://user-images.githubusercontent.com/40435989/139140108-7cd04416-05a6-4963-8255-c6

[2021-10-30 06:08] jakewvincent commented on #5
@AndOrangutan thanks for the issue! I'll look into this ASAP and let you know when I've got it working.

[2021-10-30 20:29] jakewvincent commented on #5
@AndOrangutan, can you update the plugin and give this a try? There's a new command that you can call, `:MkdnFlow`, which will force the plugin to start if it didn't detect a markdown filetype when you opened vim.

[2021-10-30 20:56] AndOrangutan commented on #5
Damn that was quick, thanks a ton. Works perfectly :D

[2021-10-30 20:56] #5 closed

[2021-11-04 15:05] e2oneedh2o opened #6 "Interferes with due.nvim"
is there a way to use both mkdwnflow and due.nvim?
https://github.com/NFrid/due.nvim

[2021-11-04 18:58] jakewvincent commented on #6
@e2oneedh2o Could you tell me in what way they're not working together? I'll install it today and do some testing myself, but I should know what exactly you're experiencing. Does one of the plugins work and not the other, or do they both not work when you try to have them active in the same buffer?

[2021-11-04 19:36] e2oneedh2o commented on #6
@jakewvincent after looking over it again it was just user error. oops but hey it works :)

[2021-11-04 19:36] #6 closed

[2021-11-04 19:40] jakewvincent commented on #6
OK, glad it works!

[2021-12-29 17:32] jakewvincent opened #8 "Links with parentheses in link name not opened properly"
Opening a link like `[Test (of a link)](test.md)` creates a new buffer named `of a link` rather than `test.md`.
<img width="255" alt="Screen Shot 2021-12-29 at 9 30 01 AM" src="https://user-images.githubusercontent.com/45184202/147688499-3e01923b-7623-4434-b5ff-9b1c77e820cc.png">
<img width="150" alt="Screen Shot 2021-12-29 at 9 30 28 AM" src="https://user-images.githubusercontent.com/45184202/147

[2022-01-07 22:10] jakewvincent opened #9 "Links to websites not opened properly when they contain #"
To replicate: Insert link whose url has a hash (#) symbol in it, e.g. `[link](https://people.ucsc.edu/~jwvincen/teaching.html#primary-instructor)`. <CR> on the link to follow.

Verified: macOS
Unverified: Linux

[2022-01-08 08:28] daniel-vera-g opened #10 "Support Wikilink syntax"
I was planning to use this Plugin as lightweight Vimwiki (Actually wiki.vim) alternative because I actually only used the file/link  navigation.

Nevertheless, I saw that Wiklinks( `[[wikilink]]`) are not supported or I did not find the configuration. As I mainly use Obsidian and [telekasten](https://github.com/renerocksai/telekasten.nvim) support for this would be great.

I could think of this as

[2022-01-12 10:30] olesendan opened #11 "New type of link 'source'"
Hi Jake.

I would like to use your plugin. for my personal knowledge system(PKS). I imaging that I have a root folder the PKS.

Could you imaging that there is another type of link. to (papers, documentations, websites) which is not saved relative to the PKS. ex. another folder where I have my library of papers. Maybe another project where I have education materials.

I would like to be able to do

[2022-01-12 15:58] jakewvincent commented on #11
Hi Dan, thanks for submitting an issue! This is actually something I would like to add to the plugin as well. Here's my thinking on this: instead of adding a new link type, the link handler will look for paths that start with ~ or / (or X:\ on Windows) and know not to interpret those relative to the directory of the current or first-opened file. Do you imagine that would cover your use case?

[2022-01-12 16:14] olesendan commented on #11
Hi Jake.

I think this will work really well. I've just been catching up on markdown syntax. Your proposal is better than mine, and I think it is a good fit to how footnotes is implemented in markdown [1] and [1]: [link to paper](~/library/paper.pdf)

If you can point me towards some documentation for Lua, I can try to take a stab on a solution.

Greetings from denmark
Dan Olesen

[2022-01-19 17:51] jakewvincent commented on #11
I think I have a working solution (for using absolute paths outside of your PKS directory or paths relative to a home directory). I'll push the update later today after a bit more testing. I realized that it would make the most sense to add this functionality to links with the `file:` prefix. After re-reading your issue though, I realized that you're looking for a more semantically oriented prefix

[2022-01-21 16:59] jakewvincent commented on #9
Fixed in 145e7b8b85b426c85c9edcf713f677c6a8b55ea8

[2022-01-21 16:59] #9 closed

[2022-01-21 17:01] jakewvincent commented on #11
I've committed some changes that will allow absolute paths (starting with `/` and paths starting with `~/`) as long as the path in the link is prefixed with `file:`. Let me know if you have any thoughts on my previous comment, @olesendan--still interested if you have any ideas!

[2022-01-21 17:01] #11 closed

[2022-01-22 08:52] olesendan commented on #11
Hi Jake.

This sounds great. I will test the file prefix. I will open a new issue for citations. I have a idea, that we can discuess.

greetings from denmark.
Dan Olesen

[2022-01-22 09:03] olesendan opened #13 "the plugin do not start on rmd filetype"
Hi Jake.

On my system, when I'm opening rmd filetypes, The plugin do not start automatic. I can start the plugin maunally with ':Mkdnflow'. when I run ':set filetype' the value is rmd.

When I open a filetype 'md' the plugin starts automatic.

I'm uncertain how to debug this, so please advise me, for more information.

system:
Archlinux
NVIM: v0.6.1

[2022-01-22 13:05] olesendan opened #14 "citation links"
Hi Jake

As disuessed in #11 It would be nice to be able to insert citations in a document.

I think we can be inspired from from citr and bookdown.

maybe wee can use the syntax '[@Yudkin2006]', and then use files in current directory ending with .bib, or bib files in a 'master' folder defined i configurations. So if there is a bib file in the current dir, then that file is used, else use hte mas

[2022-01-23 05:53] jakewvincent commented on #13
Hi Dan--Another R user! Now I'm curious what field you're in. Anyway, I've noticed some slight oddities myself with rmd filetypes but haven't looked into them much yet. I'll look into this soon. Hopefully it's an easy fix.

[2022-01-27 03:57] jakewvincent commented on #14
Hi Dan, sorry for the slow reply. I'm pretty excited by this idea! I like your idea to include the directory of the bib file as part of the config for the plugin. Another idea is to leverage yaml headers like those used in rmarkdown files so that the location of the .bib file can be specified by document rather than by config. I personally like the flexibility of that, but I'd have to look into ho

[2022-01-27 04:14] jakewvincent commented on #13
@olesendan Can you share your config for the plugin, in particular the `filetypes` key (if you've modified the default value at all)?

[2022-01-28 08:05] olesendan commented on #13
Hi Jake.

I'm just rolling with the default config. so is just doing a
`
local plug = require 'mkdnflow'
plug.setup({})
`
greetings from denmark
Dan Olesen

[2022-01-28 08:10] olesendan commented on #14
Hi Jake.

From my reading sofar, I do not think YAML headers can be used in regular markdown. So maybe it should be able to handle two scenarios - rmd and md. If a rmd file, then look for a yaml header with a bibliography entry. If a md, then look in the dir for bib file. For both scenarios if no bib file found then read from the master bib dir defined in config.

[2022-01-28 08:23] jg-schwarz commented on #14
Hi Dan, I think YAML front matters are quite widely used as they're supported by pandoc (https://pandoc.org/MANUAL.html#metadata-blocks) - btw the suggested citation syntax (which would be a great feature) could also be compatible to pandoc's ( https://pandoc.org/MANUAL.html#citations)...

[2022-01-28 09:10] olesendan commented on #14
Hi Jake.
Perfect. My understanding was that the yaml implementation was more a rmd thing. But after reading your link, I see your point.
Using yaml also in md is a nice feature!

[2022-01-30 06:04] jakewvincent commented on #13
Hmm, I'm actually having trouble reproducing this (even though I thought I was having this issue myself). Can you tell me what happens if you add the following to the setup function?
[code]

[2022-02-02 20:06] olesendan commented on #13
Hi Jake.

I've been investigating this issue a bit. I tried your suggestion, but without success. Then I tried to open a file with the ext. 'foobar.rmd' and then the plugin is loaded. Then I tested with 'foobar.Rmd' and the plugin did not load. I have looked in to the sourcecode, and my understanding is that the plugin uses the ext of the file instead of filetype.
I would like to suggest that you

[2022-02-04 21:52] jakewvincent commented on #13
OMG, of course it's something as simple as case. At some point I decided to flout the capitalization convention and use a lowercase "r" in my rmd document extensions, so that's why I was having trouble reproducing it. Thank you for looking into this more! I just added a fix--could you update and test for me?

If you can get something working, I would be open to changing the method used in the plug

[2022-02-04 21:56] jakewvincent commented on #14
Hi @jg-schwarz and @olesendan. Thanks for the pandoc resource @jg-schwarz! I'll work on implementing this as soon as I can; I think this would be a very nice feature to add. My thinking now is that a fallback path for the bib file can be provided as a config option,  but that the yaml header will be checked first for a bib file to reference.

[2022-02-11 04:44] jakewvincent commented on #14
I need to think out loud here, and maybe others can provide feedback on what to expect from the plugin.

Looking at the Pandoc specifications [here](https://pandoc.org/MANUAL.html#extension-citations), citations like the following are allowed:
[code]
My initial thought was that citations would be identified by square brackets containing at least one `@` symbol. Simple citations with only one refer

[2022-02-11 11:25] olesendan commented on #14
Hi Jake.

If it's possible, then I would go with option number two. It seems to be the 'simpler' option of the two....
For me the main reason for this is to be able to open the assosiated file/url to citation.

greetings from Denmark
Dan Olesen

[2022-03-06 07:27] jakewvincent opened #16 "<Tab> goes to pair of square brackets on lines w/ links"
If the document contains a line like the following, using `<Tab>` to go to the next link will cause the cursor to land on the first open square bracket, rather than the open square bracket that is a part of the link.

[code]

[2022-03-06 07:54] jakewvincent commented on #14
Hi @olesendan, I've got this working on the development branch if you'd like to try it out! If you're using packer as your plugin manager, you can do the following to get the development branch once you sync with your plugin manager:
[code]
It currently depends on you supplying a path as a config option. I'm planning to implement the yaml block method once all the basics are bug-free. My setup fun

[2022-03-06 22:56] #16 closed

[2022-03-06 22:58] jakewvincent commented on #13
Dan, my testing suggests this issue has been resolved, so I'm closing it now. Please let me know if it isn't resolved for you after updating.

[2022-03-06 22:58] #13 closed

[2022-03-07 09:18] olesendan commented on #14
Hi Jake.

I will try to test it later today. I will let you know how it goes.

Greetings from denmark
Dan Olesen

[2022-03-07 09:34] olesendan opened #17 "open relative links to root"
Hi Jake.

I've been thinking if it makes sence to enhance the function 'open-relative_to'. In my workflow, I create links to documents in my 'wiki' in two ways. Either a sub link from my document, or a link from another domain(which is in other sub filer/directories from the wiki root folder. These two a used random in my wiki pages.

I suggest that instead of setting the option in config 'open_re

[2022-03-09 08:35] jakewvincent commented on #8
To be fixed in commit #f0fb9d1

[2022-03-09 08:41] olesendan commented on #14
Hi Jake.

I've just done some testing. I'm getting the following error.

[code]

my config is like this.
[code]
Please advise me for further testing.

Greetings from Denmark
Dan Olesen

[2022-03-09 15:50] jakewvincent commented on #14
Thanks for trying to test it! It seems like it can't find the new bib module. I just pushed a small tweak that might fix it--can you do a `:PackerSync`, restart nvim, and see if the error goes away?

[2022-03-30 23:21] jakewvincent opened #18 "Feature request: <CR> on a URL creates a link from the whole string"
Currently, <CR>ing on a URL will make a markdown link out of whatever part of what's under the cursor is identified as a "word". It would be nice if it created a markdown link from the whole URL.

[2022-04-01 16:28] #8 closed

[2022-04-01 16:30] jakewvincent commented on #14
I'm going to go ahead and close this, as in my testing on Linux and macOS, I haven't had this issue (after pushing the tweak mentioned above). Currently this feature is working by specifying a bib file in your config. Eventually I'd like to add the functionality to specify it in a yaml block. Please do file another issue if the above still isn't fixed for you or if you have additional suggestions

[2022-04-01 16:30] #14 closed

[2022-04-01 16:49] jakewvincent opened #19 "To-do items are jumped to as if they are links if line contains parens"
If a line has a to-do checkbox and parentheses following somewhere, it is jumped to as if it is a link. In an example like the following, the first "Finance chores" to-do is jumped to because there is a set of square brackets and a set of parentheses in the line.

[code]

[2022-04-06 20:26] jakewvincent opened #20 "Can't yank anchor link from heading if it contains quotation marks"
1. Place cursor in a line with a heading with quotes, e.g.:
`## Issue 20: "Can't yank anchor link from heading if it contains quotation marks"`
2. Type `ya` to yank an anchor link

[2022-04-07 05:22] #20 closed

[2022-04-07 05:25] #19 closed

[2022-04-11 23:20] jakewvincent opened #21 "Digits/numbers don't show up in auto-generated anchor links"

[2022-04-13 23:42] #21 closed

[2022-04-18 20:48] jakewvincent commented on #18
Currently testing this in dev branch

[2022-04-20 00:13] jakewvincent opened #22 "Re-setting mappings in setup function not working"
Setting the mappings on a case-by-case basis in the setup function does not seem to be working, e.g.:

[code]

[2022-04-20 22:42] jakewvincent commented on #22
Fixed in [ca73eca](https://github.com/jakewvincent/mkdnflow.nvim/commit/ca73eca0ab27e841f6d729f91b0dd3ff08ab51d0)

[2022-04-20 22:42] #22 closed

[2022-04-20 22:43] jakewvincent commented on #18
Implemented in [96424fb](https://github.com/jakewvincent/mkdnflow.nvim/commit/96424fbec7173c36c6cff312c252355bbb8a6a5e) and [31ea1d9](https://github.com/jakewvincent/mkdnflow.nvim/commit/31ea1d905a4b384dc61fdd05e63928ed6a4af283)

[2022-04-20 22:43] #18 closed

[2022-04-20 22:47] jakewvincent opened #23 "Feature idea/request: Anchor links to headings in other markdown files"
If in `index.md` and there's a link `[My to-do lists](20220420_to-do.md#grocery-list)`, first navigate to the file and then jump to the appropriate heading (if it exists).

[2022-04-22 15:28] jakewvincent commented on #17
Hi Dan--I know it's been a while since you proposed this but I think this would improve the plugin, and I hope to implement it very soon.

[2022-04-22 15:47] jakewvincent opened #24 "Force-starting does not respect config settings"
Current behavior: the `forceStart()` function does not (is not designed to) respect config settings, but should.

[code]

[2022-04-23 23:56] jakewvincent opened #25 "Citations are not properly acted on if a link follows them somewhere in the same line"
[code]
1. Place cursor over `@foo`
2. `<CR>`
3. Behavior: mkdnflow attempts to turn @foo into a link
4. Expected behavior: mkdnflow looks for the citekey in the default bib file and acts on it properly

[2022-04-24 00:37] jakewvincent commented on #25
To be fixed in commit eb957640a0c39bf2a91dd99813b63ba404d16c62

[2022-04-24 00:37] #25 closed

[2022-04-24 00:44] jakewvincent commented on #17
@olesendan I've pushed an implementation of this to the dev branch, if you want to give it a try. The dev readme is updated (see https://github.com/jakewvincent/mkdnflow.nvim/tree/dev), so you can see the sample config there. The `links_relative_to` key in the config table now requires a table itself, where you can specify which perspective you want the plugin-to take (e.g. relative to root, relat

[2022-04-25 03:41] jakewvincent commented on #17
(Just pushed this to main. Please let me know if you experience any issues with the new functionality!)

[2022-04-25 03:41] #17 closed

[2022-04-25 03:53] jakewvincent commented on #24
Realized this is not possible w/o some roundabout way of passing in the config, e.g. the user assigning the config table to a global variable and then forcing that global variable into the setup function when forceStart() is called. However, the forceStart() function has been improved somewhat in commit 4e70e34aef0fa8bc8f0dd7ec867b822f7b218606.

[2022-04-25 03:53] #24 closed

[2022-04-25 19:10] jakewvincent opened #26 "Dashes in headings replaced with nothing in anchor links"
1. Create anchor link from a heading like the following using `ya`
2. Paste it somewhere
3. Observe that dash is missing

`## April 4-8`

[2022-04-25 21:10] jakewvincent commented on #26
Addressed in commit 6947a3a55f71c8820ce13e2ff45f17a4e1c65c7c

[2022-04-25 21:10] #26 closed

[2022-04-26 23:58] jakewvincent opened #27 "Set command to false to prevent mapping it at all"
The new config format for mappings allows one to easily change a mapping but not to disable a single mapping completely. It would be helpful if one could just set a particular command to `false` in the mappings list to avoid mapping it to anything altogether (preventing the user from having to manually unmap it).

[code]

[2022-04-28 05:31] #27 closed

[2022-04-29 14:54] PoorThatcher opened #28 "Preview problem"

[2022-04-29 19:15] jakewvincent opened #29 "Add current line to jump list before jumping to heading"

[2022-04-30 18:40] jakewvincent commented on #29
Added in commit 0858e57f65753d5d45b6c98bc1434ff3eab418e8

[2022-04-30 18:40] #29 closed

[2022-05-01 05:46] trev-dev opened #30 "Add link abstractions?"
I enjoy that Vimwiki will simplify links to just their link names, then they expand to the [link name](./file.md) when the cursor is on top of them. It's just a nice feature that de-clutters the viewing experience.

[2022-05-01 09:52] jakewvincent commented on #10
@daniel-vera-g I just pushed this to the dev branch if you'd like to test it. If you're using packer, you can do a `:PackerSync` after specifying the dev branch and changing the `link_style` config option to `wiki` (example below). There is some documentation in the [dev branch's readme](https://github.com/jakewvincent/mkdnflow.nvim/tree/dev#link_style-string). Most pertinent is probably the title

[2022-05-01 10:08] jakewvincent commented on #30
I agree that the concealing that Vimwiki and others do would be nice, especially since markdown-style links can look overly long. I'll try to look into this soon and will comment again here if/when I have something to be tested.

[2022-05-01 14:48] olesendan commented on #14
Hi Jake.
Sorry for my late reply. I will do some testing in the next cuple of days. If I enconter any problems I will raise a new issue.

greetings from Denmark
Dan Olesen

[2022-05-01 14:51] olesendan commented on #17
Hi JAke.

Sorry for my late reply. I will do some testing in the next cuple of days. If I encounter any problems, I will raise a new issue.

Greetings from denmark
Dan Olesen

[2022-05-01 15:36] trev-dev commented on #30
Thanks Jake. I would not mind taking a stab at this if you're open to it. I looked up `:help conceal` right after posting this and gave myself a big eye-roll. It may be an easy first issue.

[2022-05-01 16:06] jakewvincent commented on #30
Yeah, go for it! Organizationally, I'm not totally sure where this should go since none of the Lua scripting so far relates to visuals. For easy testing you might want to place it in init.lua and then once you've got it working create a separate module that gets loaded in init.lua if a config option is set. Whatever makes sense to you.

[2022-05-01 20:09] jakewvincent commented on #17
Sounds good, thanks Dan! :)

By the way, after implementing this, I realized that your suggestion was to be able to specify multiple files that together could identify the root directory. That wouldn't be too crazy to implement, but currently only one file can be provided as the "tell", just FYI.

[2022-05-03 17:48] abhijeetsrivastava opened #31 "MkdnToggleTodo doesn't take the header back to Done state."
MkdnToggleTodo doesn't take the header back to Done state.

I am getting the following error

`E5108: Error executing lua ...e/pack/packer/start/mkdnflow.nvim/lua/mkdnflow/lists.lua:68: bad argument #1 to 'match' (string expected, got nil)
stack traceback:
        [C]: in function 'match'
        ...e/pack/packer/start/mkdnflow.nvim/lua/mkdnflow/lists.lua:68: in function 'get_status'
        ...e/

[2022-05-03 18:20] jakewvincent commented on #31
Reproduced it on my end... I'll look into this in a moment!

[2022-05-03 18:31] jakewvincent commented on #31
So I found this is happening on my end if the child to-do is on the last line of the document. To get it working before I push a fix, just make sure there's a blank line before the end of the document

[2022-05-03 18:38] jakewvincent commented on #31
Should be fixed now. Can you report back after updating the plugin?

[2022-05-04 18:40] jakewvincent opened #32 "MkdnNewListItem not adding new to-do if to-do symbols are customized with utf-8 characters"
Calling MkdnNewListItem does not add a new to-do if it is called on a line with a filled checkbox. It will add a new ordinary unordered list item. To reproduce, call `:MkdnNewListItem` when on any line like the following:
[code]

[2022-05-04 18:52] jakewvincent opened #33 "MkdnNewListItem improvements"
Currently, calling MkdnNewListItem on an empty list item will (a) remove a bullet point (if an unordered list), (b) remove the number (if an ordered list), or (c) remove a to-do box (if an unordered to-do list). This happens regardless of whether the item is indented. Calling MkdnNewListItem should first demote the list item (as in remove indentation) before doing the above if the list item is ind

[2022-05-04 20:42] gregdezeeuw commented on #10
I've been testing out the wiki style links, no issues so far. Thanks for adding it.

It'd be nice if there was syntax to highlight the wiki links. I went back to using treesitter for markdown to give the wiki links some highlighting, but I'd ditch it again if it had some without it. No worries if you don't intend to add syntax for it, just a thought.

[2022-05-04 22:09] jakewvincent opened #34 "Customize MkdnNewListItem behavior"
If the cursor is in the | position in the below example and `<CR>` is mapped to MkdnNewListItem, the cursor will move to the | position in (2) without bringing the rest of the contents of (1) to the next line
[code]
Expected behavior:
[code]

[2022-05-05 17:31] jakewvincent commented on #32
After testing, this appears to only be an issue if to-do symbols are customized with unicode characters.

[2022-05-05 17:33] jakewvincent commented on #34
Fixed in commit 4da7004

[2022-05-05 17:35] jakewvincent commented on #31
Closing this issue since I believe this is fixed, but please let me know if this is still happening for you after updating, @abhijeetsrivastava

[2022-05-05 17:37] jakewvincent commented on #10
That's good news @gregdezeeuw, thanks for trying it out! I don't currently have plans to add syntax highlighting, but I'll consider it. Does highlighting without treesitter otherwise seem acceptable?

[2022-05-05 21:46] gregdezeeuw commented on #10
Aside from wiki links, there isn't any highlighting I'm lacking. Well, I would appreciate some highlighting for the ToDo status states, but that is super minor.

Thanks again for the plugin.

[2022-05-05 22:37] jakewvincent commented on #10
Aha, after adding the to-do status commands was when I first had the urge to add some special highlighting for to-so statuses, but I haven't looked into it yet. I'll comment here if I end up adding it.

Glad you find the plug-in useful!

[2022-05-09 04:18] abhijeetsrivastava commented on #31
Yes its now working. Thanks @jakewvincent

[2022-05-09 15:41] jmbuhr commented on #10
Sorry to reopen this, would it be possible to have a wikilink syntax without the additional name part (` | ...`)? This would make it work with logseq, which I believe is a perfect match! https://logseq.com/

[2022-05-10 02:40] jakewvincent commented on #10
Hi @jmbuhr, the syntax without the name actually does already work (as in the links are followed), but do you mean that you'd like to have an option where links created from the word under the cursor and such are created without the additional name part of the link?

[2022-05-10 08:38] jmbuhr commented on #10
Yes, this is what I had in mind. It wouldn't be a good default option because it breaks the reversibility of "plain text" -> "link" for links whose name has more than one word and capitalization, but it would be a very helpful option.
I played around a bit more and I think in order for these links and the links from the logseq tool I mentioned to be interoperable I would need and additional option

[2022-05-10 10:56] Monsieur2000 opened #35 "Mistake in the example default config in Readme"
Hi !

There is a small mistake in the mappings option :
It's written :
` MkdnPrevLink = {'<S-Tab>'},`

instead of :
` MkdnPrevLink = {'n', '<S-Tab>'},`

[2022-05-10 14:13] jakewvincent commented on #35
Thank you @Monsieur2000! Fixed.

[2022-05-10 14:13] #35 closed

[2022-05-10 15:16] trev-dev opened #36 "Mkdnflow doesn't always intuitively (de)activate"
I'm noticing that my Mkdnflow config activates when I open a document directly from the command line, but if I open it from something like a fuzzy finder or telescope from within Neovim, I need to `:Mkdnflow` explicitly, which subsequently warns me that the default config is being loaded (and thus my custom config is ignored...in theory).

[2022-05-10 15:24] trev-dev opened #37 "Idea - Follow implicit links?"
I am feeling picky about not having to replicate a bunch of notes that will also belong to some static site generator that cannot drop the "markdown" extension and just build a valid route.

I am also noticing that GitJournal/ZettleNotes can happily follow implicit links on Android.

This is strictly a "have your cake and eat it too" scenario, but maybe if this were an optional feature in the conf

[2022-05-11 00:39] jakewvincent commented on #36
I agree that this doesn't seem like ideal behavior. I have one idea... let me see what it'll take to implement it.

[2022-05-11 01:05] jakewvincent commented on #37
This is reasonable! My current thought is to create a `links` table that will contain settings for both the link style (currently its own config option) and implicit extension:
[code]
I think rather than disabling interpretation of implicit extensions by default, it would be nice for the default behavior to be flexible--if there's no extension, the link is interpreted with an implicit extension...

[2022-05-11 01:11] jakewvincent commented on #37
I guess even if interpretation is flexible, there's the question of whether links should be created with or without extensions by default. That should probably be a config option. I'm not sure what most static site generators expect, but I believe Jekyll at least expects an explicit `.md` extension. Which static site generator are you using? Any idea what's most common?

[2022-05-11 01:44] trev-dev commented on #37
I'm using Hugo, and the question of how to get its parser to drop the .md had been asked a few times and has gone unanswered. I had considered some other option such as pelican but I wanted to use something closer to GoLang because learning.

[2022-05-11 01:48] jakewvincent commented on #37
or sorry, I meant any idea which behavior is most common when it comes to static site generators? Do you know if most tend not to expect an extension?

(I almost have this ready for testing, btw)

[2022-05-11 02:07] jakewvincent commented on #37
@trev-dev can you try this out on the dev branch and see if this is working as expected? If you're using Packer, you'd do the following. You'll need to stipulate an implicit extension in order to get this working, so assuming you're working with markdown files, you'd do:
[code]

[2022-05-11 02:40] jakewvincent commented on #10
I see... interesting! I'm definitely open to a PR if you wanted to try to implement this. I like the idea of a user-defined function for processing links. A similar idea would be to allow the user to arbitrarily specify rules of interpretation, where if some pattern is matched in a link, a certain string modification is made (implicitly) before the link is interpreted. I sort of like the former fo

[2022-05-11 03:41] jakewvincent commented on #36
I just pushed a change to the development branch that will result in your config being respected when you force-start the plugin. I'll need to do some additional work to get the plugin to activate in a reasonable if you're not opening a document directly from the command line. I probably need to add an autocommand that will activate the plugin on buffer load if the filetype is a match.

[2022-05-11 04:13] trev-dev commented on #37
I have only used Pelican & Hugo in terms of static site generators that are not just my fingers and a text editor. I assume (bad!) that the expected behavior is to link to the expected generated route somehow, be it explicitly or via some route generator filter/method/function.

Hugo is interesting in that I may make _relative_ links to content. As such, the extension itself is the only thing stan

[2022-05-11 04:23] trev-dev commented on #36
This is definitely working. I am very close to default, so I can't properly test, but the warning is no longer there.

I could write this into my own config, or perhaps help contribute this if you're strapped for time.

I mostly just fire off these issues when I'm busy so that they're out of my head, but you are fast and it is super appreciated!!

[2022-05-11 04:49] jakewvincent commented on #36
I'll be happy to work on this... I think it would be desirable default behavior anyway!

Working on this plugin is how I have fun after work when there's nothing else to do, so all is good 😅

[2022-05-11 05:11] jakewvincent commented on #32
Currently testing a resolution in dev branch

[2022-05-11 09:39] jmbuhr commented on #10
Sounds great, thanks for the implementation hints already!

[2022-05-11 13:52] daniel-vera-g commented on #10
Hey, @jakewvincent  thanks for adding the Feature. Currently I'm having some issues installing the Plugin using:
[code]

and getting:

`packer.nvim: Error running config for mkdnflow.nvim: ...te/pack/packer/start/mkdnflow.nvim/lua/mkdnflow/init.lua:71: bad argument #1 to 'pairs' (table expected, got nil)`

Using the Plugin regularly on Main I get `packer.nvim: Error running config for mkdnflow.nvi

[2022-05-11 14:41] jakewvincent commented on #10
Hi @daniel-vera-g, I was able to reproduce this on my end and found an issue in the setup function. It should be fixed now in both main and dev. Can you run `:PackerSync` and let me know if the issue is resolved for you? Thanks!

[2022-05-11 15:35] daniel-vera-g commented on #10
Thanks for the fast reply!
Following/Navigating links works as expected 👍

Creating anchor/web links is not that relevant for me with Wikilinks, but  `MkdnDestroyLink` would be interesting. Currently I get the following error trying it:

[code]

Nevertheless, would just be a nice to have and currently not really necessary for me.

[2022-05-11 16:35] jakewvincent commented on #10
@daniel-vera-g ah, thanks for reporting that! There was an error in one of my regex patterns. Fixed :)

[2022-05-11 21:05] jmbuhr commented on #10
It seems like `MkdnNextLink` (and previous) still looks for markdown links and not wiki links if wiki links are enabled.

[2022-05-11 21:08] jakewvincent commented on #10
@jmbuhr oh, thanks! I'll fix this in a moment. I didn't update the reference to the old config.link_style in the dev branch.

[2022-05-11 21:10] jmbuhr commented on #10
I also just pushed the fix to the PR :D

[2022-05-11 21:11] jakewvincent commented on #10
Awesome, thanks! Fixed for dev in commit 1a926cc

[2022-05-11 22:29] jakewvincent commented on #37
[Note for self] Anchors within a link's source are currently only interpreted correctly if the .md extension is explicit. e.g. the following attempts to open a file `document.mdanchor.md` instead of opening `document.md` and trying to find a heading matching `# Anchor` within that document.

[code]

[2022-05-12 00:14] gregdezeeuw commented on #10
I was using treesitter to highlight wikilinks, but got tired of the [slowdown in large files bug](https://github.com/nvim-treesitter/nvim-treesitter/issues/2916). I made a simple autocmd (for lua) that seems to work. Here it is for anybody that wants their wikilinks highlighted.

`vim.cmd [[
 augroup _markdown
    autocmd!
    autocmd BufWinEnter *.md :syntax region wikilink start=/\[\[/ end=/\]\]

[2022-05-12 03:22] jakewvincent commented on #32
Resolved in commit 3e6780c

[2022-05-12 03:47] jakewvincent commented on #32
Check for utf8 symbols added in commit 41b7352. Should be ready to merge w/ main.

[2022-05-12 03:47] #32 closed

[2022-05-12 04:19] jakewvincent commented on #36
@trev-dev I just added an autocmd (in commit c342157 on the dev branch) that should make the plugin's initialization more intuitive when you're not opening Neovim directly into a markdown file. It uses the force start function, which results in a kind of annoying message about the plugin being started. Give this a try when you get a chance and let me know if everything's working as expected.

[2022-05-12 19:04] #10 closed

[2022-05-14 04:38] trev-dev commented on #36
Looks great!! I opened up a note from  Telescope and my config seems picked up and activated

[2022-05-14 09:41] trev-dev commented on #30
Hey, apologies. I've taken a stab at this a couple of times in the last couple of weeks. Turns out grasping all the quirks of vim's `syntax` system is escaping me. I'm trying to change things with Lua, nothing seems to be happening. I have written syntax with vimscript in the past and it had worked. I have dumbed down the implementation to match a simple string, it won't conceal.

I am losing conf

[2022-05-14 17:21] jakewvincent commented on #30
No worries! I haven't done anything with conceal before but would like to try to figure it out. I'll share details here if I figure it out just in case it's of interest.

[2022-05-14 19:24] trev-dev commented on #30
It should be almost dead simple*

* provided that your syntax configuration is sound and you know your pearl regex.

Its supposed to be a simple match group:

[code]

Obviously syntax should be `on`. I think my problem is I am not using the ./syntax/markdown.vim path but this is Lua...so...what now?

[2022-05-17 00:10] jakewvincent opened #39 "Change perspectives if entering buffer in a different wiki"
Current behavior:
1. Create two wikis/notebooks: notes_1, notes_2, specifying the same root tell for each
2. Within a document in notes_1, add a link to a document to notes_2
3. Follow link
4. If document in notes_1 was opened first, the perspective remains fixed to notes_1

Possible enhanced behavior:
1. Create two wikis/notebooks: notes_1, notes_2, specifying the same root tell for each
2. Withi

[2022-05-18 03:31] jakewvincent commented on #30
@trev-dev Just fiddling a little bit with this... you can still add a vimscript file under `mkdnflow.nvim/syntax/`. I did get a little bit of concealing to work when placed there.

[2022-05-18 03:46] trev-dev commented on #30
I was beating my head against making it work from the `lua/` folder as a configuration import in the entrypoint (`init.conceal`).

[2022-05-18 15:18] jakewvincent commented on #30
Update: Actually it looks like it can be placed in `lua`. If you have a file called `conceal.lua` and load it in the setup function (by adding `init.conceal = require('mkdnflow.conceal')` after `load_on_ft[ft]`, the above conceals will load properly. They have to be wrapped in lua functions of course:
[code]

[2022-05-18 17:30] jakewvincent commented on #30
If you're interested, you should continue! I probably wouldn't be able to work on this for a few more days. If you get it to the point where you're relatively happy with the conceals, you can submit a PR and I can go ahead and do the configuration to enable/disable the conceals in the user config.

[2022-05-18 17:53] trev-dev commented on #30
I am! Would much rather own my original offer to help out than drop it. The collaborative effort has been a really nice touch. Thanks for stepping in with me.

[2022-05-19 03:18] jakewvincent commented on #37
Addressed above comment in commit 0c305cb (currently in dev branch)

[2022-05-19 03:18] #37 closed

[2022-05-19 08:37] delafthi opened #40 "Set mappings as buffer local"
What do you think of applying the keymaps locally to the buffer with an autocommand instead of globally? In my opinion it would be a lot nicer, if the mappings would only be applied to markdown buffers (except maybe for some keybindings, for example MkdnGoBack. However, <C-^> could also be used in a non-markdown buffer to navigate back).

[2022-05-19 15:30] jakewvincent commented on #40
Thanks, this would be a welcome improvement. Thanks as well for teaching me about <C-^> 😆

[2022-05-19 16:00] jakewvincent opened #42 "Open non-md filetypes in window with MkdnFollowLink"
Currently, doing MkdnFollowLink on a link such as the following will not result in the named file being opened:

`[Experiment data analysis](analysis.Rmd)`

Instead, it opens a new buffer called `analysis.Rmd.md`. The plugin should not assume that the lack of a `.md` extension means there's no extension at all, and it should behave as expected when opening non-md filetypes within and without the n

[2022-05-19 16:08] #36 closed

[2022-05-19 16:10] jakewvincent commented on #40
Pushed #41 to dev for additional testing

[2022-05-20 17:26] jakewvincent commented on #40
Merged to main. Thanks @delafthi!

[2022-05-20 17:26] #40 closed

[2022-05-23 18:24] jakewvincent opened #44 "Toggle multiple (visually selected) to-do items"
Toggle multiple to-do items on contiguous lines selected with Visual(-{Line, Block})

[2022-05-28 01:11] jakewvincent opened #45 "` - ` in a to-do item throws an error when toggling"
When a to-do item like the following is toggled, an error is produced.

[code]

Error:
[code]

[2022-05-29 19:58] jakewvincent commented on #45
Fixed in commit 5b1bb4a07a6c6e97a0514be93697d618484586d0

[2022-05-29 19:58] #45 closed

[2022-05-30 22:52] jakewvincent commented on #33
Added enhanced behavior around colons in commit 7c9e35b0111ff1bf15aa45203691de6fb6948a51

[2022-05-30 23:03] jakewvincent commented on #42
Addressed in commit 269bc20cff8daf42a313e2cd9da7cae84b0aac34

[2022-05-30 23:03] #42 closed

[2022-05-31 01:23] jakewvincent commented on #39
Implemented in commit cb440a88c6e737c88dd6c773384b8a822eb33036 (currently testing in dev branch)

[2022-05-31 20:34] elliottt commented on #34
I'd actually like the previous behavior as well, for adding new empty entries to the list but automatically adding the `[ ]` for a todo. Is there a way to keep both behaviors?

[2022-06-01 16:42] jakewvincent opened #46 "Link to notebooks"
Scenario: Currently in a notebook `Notes`
Follow link: `[Other notebook](../Other notes)`
Current behavior: Create a file called `Other notes.md` in the parent directory of the current file
Proposed behavior: Check whether `Other notes` is the name of a directory and if there is a file `index.md` (possibly specify default index filename in config?) inside it. If not, create a file called `Other no

[2022-06-01 16:45] jakewvincent opened #47 "Support better path completion for completion frameworks?"
It would be nice if path completions (e.g. via nvim-cmp + cmp-path) were always relative to the perspective MkdnFlow currently takes. Might require making a custom completion source, or a combination of changing working directories + suggesting completion settings.

[2022-06-03 22:54] jakewvincent commented on #33
Demotion via removing indentation added for MkdnNewList in commit db73c9e26852b54ba7d58fcd9822019cc5cc947a

[2022-06-04 03:50] jakewvincent commented on #34
@elliottt yeah, I don't think it would be too difficult. I'm thinking that MkdnNewListItem could have one or two optional arguments to customize its behavior, and then if you want to use the customized behavior, you could add another mapping or remap `<CR>` to the custom command instead of the default flavor of it. How does that sound?

[2022-06-04 03:54] jakewvincent commented on #30
@trev-dev how goes it on the conceal front?

[2022-06-04 05:39] elliottt commented on #34
That sounds great! Thank you :)

[2022-06-04 15:58] trev-dev commented on #30
Apologies, and thanks for the reminder. I've moved on from using NeoVim for the time being and I lost track of this.

I took another stab at it regardless and pattern matching something like `[<stuff has to be here but don't include it>](possible/path/string)` is driving me a bit nuts. I'm going to have to pass the torch back.

[2022-06-04 16:19] jakewvincent commented on #30
No worries, thanks for the update!

[2022-06-04 18:32] jakewvincent commented on #34
@elliottt I just pushed a trial of this to the `dev` branch (commit 0b8d510181ef9ef59662a6322dbdbaf7c68a950c). Would you mind testing it out? I've added a second command, `MkdnExtendList`, which you can map to whatever you like or call directly. You probably know how, but if you're using Packer you can get the dev branch like so:
[code]
Let me know if everything's working as expected or if you had

[2022-06-04 21:17] jakewvincent commented on #47
Finalized in commit 723a94198a77399ac3503d8ddbeeb024db4a88ad (currently in `dev`; will be pushed to `main` soon)

[2022-06-05 03:20] #47 closed

[2022-06-05 03:20] #39 closed

[2022-06-05 03:20] #33 closed

[2022-06-05 03:47] elliottt commented on #34
This looks great, thank you! The only suggestion that I have is that when I run `:MkdnExtendList`, it keeps the cursor on the previous line instead of moving it to the new entry. Would that be an easy fix?

[2022-06-05 04:22] jakewvincent commented on #34
Yes, very easy. Go ahead and update one more time. Does that seem better?

[2022-06-05 04:26] elliottt commented on #34
Awesome, that's much better! Thanks for fixing this so quickly :)

[2022-06-05 21:05] jakewvincent commented on #34
Great! Thanks for the suggestion :)

[2022-06-05 21:05] #34 closed

[2022-06-06 20:54] jakewvincent commented on #44
Finalized in commit fbc7eef884cd7933a93412e212bd0d15ca17e9f1

[2022-06-06 20:54] #44 closed

[2022-06-08 21:49] Euthoniel opened #48 "In readme, seems like nvim_wd_heel should be vimwd_heel"
I didn't want a change in perspective to change the working directly. I tried switching nvim_wd_heel to false, but it did nothing. I looked at the code a bit, set vimwd_heel to false in my config, and the functionality was disabled as expected.

[2022-06-08 22:06] jakewvincent commented on #48
Thanks for reporting this! It's all consistently `nvim_wd_heel` now. (`vimwd_heel` will still work for now--the compat module will convert it to `nvim_wd_heel` if it finds the `vimwd_heel` key.)

[2022-06-08 22:06] #48 closed

[2022-06-10 06:00] jakewvincent commented on #46
Currently in trial in dev branch (commit 774ecb12fb293bf2cf4d43b12b2d29d243a7d648)

[2022-06-10 21:05] kraxli opened #49 "Impatient.nvim does not properly load Mkdnflow"
Executing `MkdnToggleToDo` or a corresponding mapping on a todo item (`- [ ] todo1`) throws the following error:

![mkdn_todotoggle](https://user-images.githubusercontent.com/8371948/173150797-96096424-b966-462c-8e02-c1c947feb6f1.png)

Nvim: 0.7
OS: Ubuntu
Shell: Zsh

[2022-06-10 21:13] jakewvincent commented on #49
When was the last time you updated the plugin? This looks like a general message about not being able to find the `lists` module. I'm not sure why that would happen, but one possibility is you're working with an outdated version of the plugin?

[2022-06-10 21:15] kraxli commented on #49
installed right now

[2022-06-10 21:16] jakewvincent commented on #49
Hmm, weird. Can you show me what your mkdnflow config looks like?

[2022-06-10 21:18] kraxli commented on #49
potentially a related error (error loading module 'mkdnflow.lists') occurs with `lua require('telekasten').insert_link({ i=true })<CR>`

![Screenshot from 2022-06-10 23-16-52](https://user-images.githubusercontent.com/8371948/173152436-9f0c5024-9bf6-4462-a49b-a7b166f1bc79.png)

[2022-06-10 21:21] jakewvincent commented on #49
Are you using the default config? (just `require('mkdnflow').setup({})`)?

[2022-06-10 21:32] kraxli commented on #49
Yes, but I have also tried to use the defaults explicitly

[2022-06-10 21:35] jakewvincent commented on #49
Got it. How are you loading the plugin? In the traceback above it looks like the error occurs after the plugin is force started?

[2022-06-11 07:30] kraxli commented on #49
unfortunately `nvim my_file.md` is also not working. I load the plugin with Packer, as you suggest in the `README.md`
[code]
Some stuff works. E.g. the function `MkdnCreateLink` creates the link but not the file

![image](https://user-images.githubusercontent.com/8371948/173178197-cd8a439a-c208-40dc-b53a-ec5997ab8757.png)

[2022-06-11 19:07] PoorThatcher opened #50 "attempt to index a nil value"
#error  attempt to index a nil value stack traceback:
I want to stop listitem▫{number list}
when i press <CR> again.
but there has an error

i hope there has a solution

[2022-06-11 19:08] PoorThatcher opened #51 "attempt to index a nil value"
#error  attempt to index a nil value stack traceback:
I want to stop listitem▫{number list}
when i press <CR> again.
but there has an error

i hope there has a solution

[2022-06-11 19:46] #51 closed

[2022-06-11 19:48] jakewvincent commented on #50
Can you provide some steps for me to reproduce this? What is an example of the text when this happens, and what are you trying to do when it happens? Thanks.

[2022-06-11 19:54] jakewvincent commented on #49
Interesting, thanks. I want to be able to reproduce this so I can fix it, but I'm not sure how to do so without replicating your whole config. Can you double-check the nvim version for me by pasting the output of `nvim --version` here? If you can also paste your nvim dotfiles here (or paste a link to them), that would be helpful.

[2022-06-11 19:55] jakewvincent commented on #51
[duplicate]

[2022-06-11 21:10] jakewvincent commented on #49
Just pushed a small change that may fix at least the mappings problem. Can you pull the update and report back?

[2022-06-11 21:37] jakewvincent commented on #50
Actually, I think I figured out where this was happening. Can you update the plugin and let me know if it's still happening for you? Thanks.

[2022-06-12 02:15] PoorThatcher commented on #50
Thank you for your time.
I update, work fine!

[2022-06-12 03:17] #50 closed

[2022-06-12 19:20] kraxli commented on #49
Thanks, I have pulled but still no luck :-/

[2022-06-12 19:31] kraxli commented on #49
[code]

[2022-06-13 10:03] Euthoniel opened #52 "Absolute links seem to be broken for "file:" on Windows"
On Windows. Relative links work with the file prefix without issue, and markdown links using absolute path also work without error.

If I use "file:C:\Users\user\file.py" as my path, Windows tries to open the file with the default program, but starts at the location of the file I'm in. For example, if the above link was in C:\Project\Start.md, Windows would try to open the file at "C:\Project\C:\U

[2022-06-13 19:10] Euthoniel commented on #52
It works now with file:C:\, but Neovim still gives the same error from the image in the first post.

[2022-06-13 22:13] jakewvincent commented on #52
This should be fixed now--can you check and report back? Thanks.

[2022-06-13 22:36] Euthoniel commented on #52
I get a slightly different error now, see attached. The file still opens correctly.
![Screenshot 2022-06-13 153550](https://user-images.githubusercontent.com/62518609/173458879-c488f1f2-87e4-457f-b82a-cb62ece21eb8.jpg)

[2022-06-13 23:54] jakewvincent commented on #52
Ok, I figured out where this was ultimately coming from, I think. Can you pull again and let me know if there are any errors?

[2022-06-14 01:27] Euthoniel commented on #52
Yes, it works without errors. Thanks for fixing it, especially so quickly.

[2022-06-14 02:38] jakewvincent commented on #52
Great! Thanks for testing it repeatedly.

[2022-06-14 02:38] #52 closed

[2022-06-14 02:39] jakewvincent commented on #46
Merged feature into main branch

[2022-06-14 02:39] #46 closed

[2022-06-14 21:33] jakewvincent commented on #49
I was able to reproduce this with your config, but the issue doesn't seem to be caused by mkdnflow. It has something to do with how impatient.nvim caches plugins and runs plugin setup. If I comment out the first line in your init.vim (see below), mkdnflow loads just fine. Since I'm not aware of the inner workings of impatient.nvim, I would probably recommend [filing an issue with them](https://git

[2022-06-15 12:06] PoorThatcher opened #53 "E5108"
`E5108: Error executing lua ...nfig/nvim/plugged/mkdnflow.nvim/lua/mkdnflow/buffers.lua:52: attempt to concatenate local 'prev_buf' (a nil value)
stack traceback:
        ...nfig/nvim/plugged/mkdnflow.nvim/lua/mkdnflow/buffers.lua:52: in function 'goBack'
        [string ":lua"]:1: in main chunk`

use goback error

When I try to goback in first link & press again <BS>

[2022-06-15 12:14] PoorThatcher commented on #53
When I go forward, everything is fine
`⬇️  Can't go forward any further!`

[2022-06-16 20:22] kraxli commented on #49
Many thanks @jakewvincent for tracking this down! I will file a bug report with impatient

[2022-06-16 20:22] #49 closed

[2022-06-17 03:00] jakewvincent commented on #53
Is this happening regularly, every time you can't go back any further? If not, can you summarize when this happens?

[2022-06-19 20:39] kraxli commented on #49
After deleting any potential caching, it worked. I will investigate a bit further what the real root cause is.

[2022-06-27 18:44] marcusatiliusregulus opened #54 "messages are indented"
Behaviour: When i open a markdown file (as in `nvim index.md`, not when vim is already open) the mkdnflow message is indented:
[code]

Expected behaviour: I would expect the message to appear unindented as it does when i open a markdown file from within nvim (like `:e index.md`):
[code]

----
[code]

[2022-06-27 18:59] jakewvincent commented on #54
Hi @marcusatiliusregulus, thanks for the issue. I noticed this a while ago as well and am a bit puzzled by the problem. I can't work out if it's a problem with the plugin or with Neovim. As far as I can tell, there's nothing in the plugin that would cause this--there is certainly no leading whitespace in the strings passed to `nvim_echo`. I've gotten the problem to temporarily go away if I run `:P

[2022-06-27 19:39] marcusatiliusregulus commented on #54
ok, i investigated a bit more and it seems to be a problem with a plugin i installed. i put `vim.api.nvim_echo({{'hello world', 'WarningMsg'}}, true, {})` in my vimrc and the output is indented if i put it after loading my plugins and not if i put it before them. if i uninstall **lualine** the problem goes away. do you have lualine installed, too?

[2022-06-27 20:24] jakewvincent commented on #54
Oh, interesting! Yes, I also use Lualine.

[2022-06-29 09:18] #53 closed

[2022-06-29 12:48] marcusatiliusregulus opened #55 "Update fails ("unrelated history" error) -- see here for how to resolve"
packer update fails, trying to manually `git pull` doesn't work either due to  'unrelated history' error. please make sure to keep your git history straight as having to un- and then reinstall the whole plugin with packer is annoying. (manual `git pull --allow-unrelated-history` creates a merge conflict and just removing the repos and cloning it anew is almost imopssible on m$-windows :()

[2022-06-29 16:52] jakewvincent commented on #55
Interesting... not sure why this would have happened, but thanks for the heads up. To me, the surest resolution here is the annoying one--comment out the plugin wherever you call `use({jakewvincent/mkdnflow.nvim})`, `PackerSync` and say "yes" to removing the plugin, uncomment, and `PackerSync` again. Leaving this issue open for now in case anyone else is experiencing this.

[2022-06-29 23:32] jakewvincent opened #56 "`file:`-prefixed link sources can't be followed if they have spaces in the name"
e.g. `[link](file:~/Personal projects)`
error message: `$HOME/Personal\ projects doesn't seem to exist!`

OS: macOS

[2022-06-30 02:51] chriztheanvill opened #57 "Mapping does not working, and shows an error when switching buffers."
My os: Fedora 36
neovim: 0.7.0

And if I move around my buffers, shows this message.

![image](https://user-images.githubusercontent.com/37992958/176582352-59935e68-e8e5-4815-8289-9d54fcaa6f09.png)

[2022-06-30 03:16] jakewvincent commented on #57
Are you using the default mkdnflow config? If not, can you please share your config? Thanks.

[2022-06-30 04:06] jakewvincent commented on #30
Added in commit 23c22f10735f98e496d538decbc48159e4308952; currently testing in dev branch.

[2022-06-30 05:15] chriztheanvill commented on #57
My only changes that I made were:
`
MkdnNewListItem = true,
MkdnExtendList = true,
MkdnTableNextRow = true,
MkdnCR = true
`
But using the default settings has the same result.

[2022-06-30 06:30] jakewvincent commented on #57
Ah, the values should not be `true`, but rather a table specifying the mode and key mapping as strings. For example, `MkdnNewListItem = {'i', '<CR>'}`. But you mention that the default settings don't work either. So if you pass an empty table to the setup function, none of the default mappings work, is that right?

[2022-06-30 17:11] jakewvincent commented on #54
Well, I just tried removing Lualine and I'm still getting the indented messages, so I guess that's not it. The odd thing about this is how inconsistent it is--you removed Lualine and it stopped for you but not for me. I sometimes got it to go away by running PackerCompile.

I realized that this stopped happening for me when I started using the new global statusline, but I see that it's coming back

[2022-06-30 18:02] jakewvincent commented on #57
Is it exactly the same error when you use the default config? In the screenshot you posted, I see some errors that are related to the bufferline.nvim plug-in.

[2022-06-30 20:42] chriztheanvill commented on #57
Yes, the same.
Using it like this.
[code]
Or divide the config (my default config)
[code]

[2022-06-30 21:19] jakewvincent commented on #57
I'll need some more details in order to help with this.

How are you switching buffers? Are you using mkdnflow to switch buffers (using the default mappings for Backspace and Delete) or are you switching with the help of another plug-in, or something else?

Are the mappings still not working now that you've removed the `true` values?

Do you have your neovim dotfiles in a repository somewhere so I

[2022-06-30 23:29] #56 closed

[2022-07-01 07:08] jg-schwarz opened #58 "utf-8 warning with non-utf8-symbols"
Hi and thanks for this wonderful plugin!

Just a small irritation: mkdnflow constantly tells me that one of my "to-do symbols is a utf8 symbol, but the lua-utf8 dependency could not be found".
I didn't install the dependency, because, actually, I just try to use x and o ...

[code]
Is there a way around it or can I at least disable the warning message?
As of now, I have to confirm this at every st

[2022-07-01 16:18] jakewvincent commented on #58
Thanks for reporting this! I tried out your above config for to-do symbols and was able to reproduce the error message. Turns out the way I was originally calculating which symbols were utf8 symbols was faulty. I just pushed a fix for this to the main branch. Do you mind pulling the update and letting me know if the issue is resolved?

[2022-07-01 16:54] jg-schwarz commented on #58
That fixed it, thanks a lot!
(BTW: Unfortunately, I ran into #55 ...)

[2022-07-01 16:54] #58 closed

[2022-07-01 16:56] jakewvincent commented on #58
Strange--not sure what I did there. Glad the fix for this issue worked :).

[2022-07-01 20:22] chriztheanvill commented on #57
Switching buffers
[code]

My config mapping:
[code]

[2022-07-02 20:35] jakewvincent commented on #57
Unfortunately, I'm not able to reproduce this issue, even if I install bufferline and use the mappings you gave above (assuming `opts` simply has the value `{nnoremap = true}`). After studying the error more closely, it looks like the only error relating to mkdnflow was due to using `true` as a mapping value (see highlighted screenshot below); all the other errors appear to be caused by something

[2022-07-02 20:35] #57 closed

[2022-07-07 16:55] Normanras opened #60 "Error/Notice: Mkdnflow is already running!"
**Currently running:**
[code]
iTerm2 on Mac M1

**Issue:** I'm not sure if this is a true issue, but definitely a quirk. When I open neovim and then open to an `md` file, I get a red warning in my nvim footer bar that says ⬇️ `Mkdnflow is already running!` .  I've attached a screenshot.

This happens whether I open neovim directly into an `md` file or open it to my dashboard and then open an `md`

[2022-07-07 17:19] jakewvincent commented on #60
Interesting, I haven't seen this yet! Definitely annoying even if it isn't a functionality bug. I'm also running nvim in iterm2 on an M1 Mac, but I'm on nvim 0.7, so I wonder if this has something to do with autocommands in 0.8. I'll try to see if I can reproduce this later today.

[2022-07-08 14:09] Normanras commented on #60
I don't know if you've updated the plugin - I quickly updated everything via Packer this morning but didn't read carefully (🤦🏼‍♂️), but I've gotten a new error. When I start nvim it says:

`Error running config for mkdnflow.nvim ... /pack/packer/start/mkdnflow.nvim/lua/mkdnflow/init.lua:191: bad arguement #1 to 'next' (table expected, got nil)`

And here's what that code block says (lines 189-196)

[2022-07-08 16:44] jakewvincent commented on #60
Thanks for the update! Interestingly, I haven't pushed any updates, so it seems like this latter issue is coming out of nowhere, but I wonder if it's related to the message you were initially reporting here. I played around with nvim 0.7 and 0.8 with and without tmux last night and couldn't manage to trigger the "Mkdnflow is already running" message, so I wonder if these two things are related som

[2022-07-08 17:34] jakewvincent opened #61 "Parse out possessive marker from citation keys when following citations"
When attempting to follow citation keys with a possessive marker (e.g. `@Chomsky1957's view is that...`), the plugin currently searches for `Chomsky1957's` as a citation key, rather than `Chomsky1957`.

Expected behavior: Despite the `'s` marker being adjacent to the citation key, the plugin should identify `@Chomsky1957` as the citation key.

[2022-07-08 20:16] Normanras commented on #60
Sorry for the delay - busy day here. Update works! Same with the config! Interestingly, I had almost the same config already in my `plugins.lua` file, the only thing that I was missing was the outer parenthesis.

Either way, thanks so much for the quick responses and fixes! Closed everything and opened it back up and no errors appeared.

[2022-07-09 01:54] jakewvincent commented on #60
Good to hear! So no "already running" messages anymore either?

[2022-07-09 17:37] jakewvincent commented on #61
Addedin commit a59b96c8b7c711ba30e0422689a3e61c0b0bd835

[2022-07-09 17:37] #61 closed

[2022-07-10 18:57] jakewvincent opened #62 "Renaming files+links with an anchor subpart removes the anchor"
Renaming a file and link using `<F2>` such as `[Link](link_to_file#heading)` will result in the file and link being renamed, but the anchor being removed, e.g. changing the filename to `link_to_test_file` will result in the link being changed to `[Link](link_to_test_file)` (without the anchor part).

Desired behavior: Change the source part of the link and leave the anchor part intact.

[2022-07-10 19:25] jakewvincent commented on #62
Link source(+anchor) retrieval updated in commit e1b62905bcd327e8303f51564e0879cc936d2426 (needed so that anchor output of `links.getLinkPart()` is not nil when there is no anchor, but rather an empty string)
Actual renaming function updated in commit 517d76e48171a0215c9d483ff5c41ad67b0fd2fb

[2022-07-10 19:25] #62 closed

[2022-07-11 17:55] jakewvincent opened #63 "Implicit extensions not included in link interpretation if link goes to a parent directory (or subdirectory in parent directory)"
Assume implicit extension set as `'md'`
#### Current behavior
1. `[Link](note.md)` -> fine (interpreted as `note.md`)
2. `[Link](note)` -> fine (interpreted as `note.md`)
3. `[Link](subfolder/note)` -> fine (interpreted as `note.md` in `subfolder`)
4. `[Link](../other_folder/note.md)` -> fine (interpreted as `note.md` in `other_folder`)
5. `[Link](../other_folder/note)` -> **bad** (interpreted as

[2022-07-11 17:55] jakewvincent commented on #63
Guess: dots are confused for existing extensions

[2022-07-11 19:44] Normanras commented on #60
Nope, neither!

I did want to ask another off-topic question about the plugin (I've been using it daily and love it). But I think I might know the answer, I just want to dig into your plugin files first to see if I can find it. Also, don't know if an issue thread is the best place for more general thoughts or questions! I swear I'm not using you as support, just really enjoying this plugin.

[2022-07-11 20:43] jakewvincent commented on #60
You're welcome to use the [discussions](https://github.com/jakewvincent/mkdnflow.nvim/discussions) feature for this repo! I enabled it a while back but never made an introductory post or anything like that, but ideally I'd like that to be a place where people can ask questions that aren't issues per se and/or share interesting configs they've set up for their use case.

Very glad you're getting so

[2022-07-12 00:59] Normanras commented on #60
Wow, neat! I started using it literally because of the same use case. I deal mostly with clients and product discovery and I need to categorize them along with sub-topics. This plugin came about exactly because I would get the "that would be a nice feature" mid-conversation and I have to quickly tag it.

Thanks for the discussion link, I'll use that!

[2022-07-12 01:33] #60 closed

[2022-07-12 04:14] paanvaannd opened #64 "Support for Pandoc-flavored Markdown span links"
Thanks for the great plugin!

I'm looking to anchor link to arbitrary spans of text within Markdown both within and between Markdown files. This is possible in Pandoc-flavored Markdown through the use of [spans](https://pandoc.org/MANUAL.html#divs-and-spans). Would it be possible to integrate span links through mkdnflow?

Concrete case: file `a.md` has text `"hello [world](b.md#planet-earth)"` tha

[2022-07-12 23:00] #63 closed

[2022-07-12 23:03] jakewvincent commented on #64
@paanvaannd feedback is welcome on the above two situations, btw! For your use case, what would your preferences be in those situations?

[2022-07-12 23:21] paanvaannd commented on #64
Great points!

I like your proposed idea for auto-searching. Perhaps the default behavior can generalize to both cases: just land on either the first or last instance of a target ID and potentially trigger an auto-search whether the instance is a heading or a span.

What's your preference for how opinionated `mkdnflow` behavior should be? From the documentation, I infer it leans towards opinionate

[2022-07-14 00:25] jakewvincent commented on #64
I appreciate the compliment! I *want* to make the documentation better--I always update the readme, but I let the help docs definitely lag a little too far behind the updates.

I just added an initial attempt at this feature to the dev branch. It should allow linking to explicitly tagged spans in other documents (e.g. `[Link](file#tagged-span)` with implicit extensions enabled or `[Link](file.md#t

[2022-07-18 16:19] jakewvincent opened #67 "MkdnMoveSource displays double confirmation message"
When the confirmation message is too long and wraps, the first line is duplicated:

<img width="1402" alt="Screen Shot 2022-07-18 at 9 13 19 AM" src="https://user-images.githubusercontent.com/45184202/179556663-9b3c5a4d-8187-4f6d-a600-8ce0abaecbd6.png">

[2022-07-19 13:51] pockethook opened #68 "Can't rename files"
I get the following error when I press `F2` in attempt to rename a file:

``E5108: Error executing lua ...e/pack/packer/start/mkdnflow.nvim/lua/mkdnflow/paths.lua:408: attempt to index local 'derived_source' (a nil value)
stack traceback:
        ...e/pack/packer/start/mkdnflow.nvim/lua/mkdnflow/paths.lua:408: in function 'moveSource'
        [string ":lua"]:1: in main chunk``

[2022-07-19 15:26] jakewvincent commented on #68
Hi @pockethook, thanks for the bug report. Can you tell me some additional details so that I can try to reproduce this? Is this happening with all links that you try to rename? What does your link text look like? Are you using the default config for the plug-in?

Thanks!

[2022-07-19 16:51] pockethook commented on #68
Sorry, I  misread the documentation, it works fine. Great plugin :+1:

[2022-07-19 16:51] #68 closed

[2022-07-19 17:17] jakewvincent commented on #68
Okay, glad it works 🙂. Can I ask what you did when the error was shown? I'd like to try to show a more informative error message in case others try the same thing.

[2022-07-19 17:23] pockethook commented on #68
The error message comes up whenever I press `F2` and there isn't a link under the cursor.

[2022-07-19 17:29] jakewvincent commented on #68
Thanks!

[2022-07-19 17:59] jakewvincent opened #69 "ToggleToDo improvements"
If a parent list item is a non-to-do list item and has to-do list item children, when the non-to-do list item parent is toggled (converting it into a to-do list item), it should update its to-do status according to the status of its children.

Example:
[code]
Immediately after converting the parent item to a to-do item with `MkdnToggleToDo`:
[code]

[2022-07-19 19:48] jakewvincent commented on #67
Looks like a plugin-external issue. `nvim-cmp` team had the same issue [here](https://github.com/hrsh7th/nvim-cmp/issues/889), and tickets were opened in neovim ([here](https://github.com/neovim/neovim/issues/18140)) and subsequently, vim ([here](https://github.com/vim/vim/issues/10210)).

[2022-07-19 20:13] jakewvincent commented on #67
Workaround added in commit 53cd1112b4c50e2a75cd3e92ef791fe9fdc6e0e2

[2022-07-20 01:46] jakewvincent opened #70 "Feature request: Resolve interpretation of "~/" on Windows"
For Windows users who wish to use forward slashes instead of back slashes in their paths, it would be nice to provide a way of resolving `~/` in a path in order to improve cross-system compatibility for the same notebook/wiki. Default should probably be `C:\Users\<User>\`, but this could possibly be made configurable.

[2022-07-20 17:54] #67 closed

[2022-07-20 18:00] jakewvincent opened #71 "Feature: TOC creation"
1. Command that will trigger a function to (a) scour the current document for headings and insert a table of contents at/under the current cursor position
2. For above, optionally scour documents linked in the current document and include those in the TOC.

[2022-07-21 02:25] doodleEsc opened #72 "`mkdnflow.config.modules` is nil"
Error while calling lua chunk: ...m/site/pack/packer/opt/mkdnflo
w.nvim/plugin/mkdnflow.lua:137: attempt to index field 'modules' (a nil value)

`plugin/mkdnflow.lua` loaded before `mkdnflow.setup`
so the field `config` does not contain field `modules`

[2022-07-21 05:59] jakewvincent commented on #72
Thanks. Just pushed a quick fix for this--can you update and let me know if the error goes away?

[2022-07-21 06:53] doodleEsc commented on #72
It works fine now, thanks

[2022-07-21 06:53] #72 closed

[2022-07-21 17:15] jakewvincent opened #73 "MkdnNextRow in last cell of last row doesn't format table on move"
If the last cell of the last row of a table has content added to it, leaving more whitespace than necessary, calling `MkdnNextRow` (via mapping) will move the cursor outside of the table (intended) but not format the table (unintended). It leaves it as below:

Actual:
[code]

Desired:
[code]

[2022-07-22 04:33] gregdezeeuw opened #74 "Mappings don't activate on time"
I use Neovim-qt and Windows 10. When I start Neovim, it opens a blank buffer. I open a file via Telescope and the keys do not work. If I open a second file or reopen the first file, they start working.

If I load a file when first starting Neovim-qt, they also work without issue.

[2022-07-22 13:02] horriblename opened #75 "[bug] UTF-8 character width wrongly interpreted"
string length is calculated as the number of bytes, but UTF-8 characters can be more than 1 byte, even though they are really one character when displayed. These characters include many non-English characters (chinese, greek etc.)

table formatting uses string length and causes columns to be wrongly aligned:
![image](https://user-images.githubusercontent.com/59727193/180443543-36abb6f9-f445-4699-9

[2022-07-22 15:42] jakewvincent commented on #75
Hi @horriblename, thanks for bringing this up. I feel like when I was writing the table formatting code, I had a thought about len-width mismatches but out of laziness went forward assuming they'd be 1:1. I should be able to get this fixed today or this weekend. Since I already have luautf8 as an optional dependency (for non-ascii to-do symbols), I'll most likely use that library's width function

[2022-07-22 21:09] jakewvincent commented on #74
Hi @gregdezeeuw, thanks for the issue. When you say they do not work, is it that no mappings work, or that the mappings are the default mappings (as in the issue title)?

[2022-07-22 21:59] jakewvincent commented on #75
@horriblename I just pushed an update that I think should fix this. You'll need to make sure you have the luautf8 rock installed. (As you probably already know, you can install these via packer by adding `rocks = 'luautf8'` into the table that installs mkdnflow.) Can you try it out and let me know if it works for you?

[code]

[2022-07-23 05:45] gregdezeeuw commented on #74
Yeah, sorry, I messed up title. None of the mappings work, either default or my own, until I open a second file or launch Neovim-qt editing a file..

[2022-07-23 17:23] jakewvincent commented on #74
@gregdezeeuw Can you update the plugin and let me know if this issue is fixed?

[2022-07-23 17:41] #73 closed

[2022-07-23 18:17] gregdezeeuw commented on #74
Yes, that fixed it.

[2022-07-23 19:47] #74 closed

[2022-07-25 00:38] horriblename commented on #75
Yeah, working flawlessly. Thanks!

[2022-07-25 00:57] paanvaannd commented on #64
Thank you for the updates and apologies for the late response! The past two weeks have been terribly busy, but I may have time later this week to test out the implementation and offer more feedback. I'll update you as soon as I'm able to test it out!

[2022-07-25 16:37] jakewvincent commented on #75
Excellent :)

[2022-07-25 16:37] #75 closed

[2022-07-28 15:50] paanvaannd commented on #64
I was finally able to test the implementation and I love it: thank you so much!

One thing I noticed is that links don't seem to find bracketed spans that precede their linked reference within the same file.

E.g., the following will work within the same file:

[code]

but not this:

[code]

Cross-document linking works perfectly for my tested cases, though!

[2022-07-28 16:15] jakewvincent commented on #64
Thanks for testing it! I tested out following links to preceding bracketed spans and can't get it to jump to those either. Will fix that.

[2022-07-28 16:38] jakewvincent commented on #64
Should be fixed now! (commit 962c9fba74fa4aec611280d5d6da10ae0a564dd5)

[2022-07-28 16:44] paanvaannd commented on #64
That was quick! Thanks for your hard work on this: it will really help me with organizing my life and work.

I'd love to donate to help support your work as well but I can't find an Open Collective, GitHub Sponsors, Patreon, Buy Me a Coffee, etc. link anywhere! Or perhaps a donation to a charity/cause of your choice?

[2022-07-28 16:44] #64 closed

[2022-07-28 20:07] jakewvincent commented on #64
ahh, I really appreciate the desire to contribute! I already enjoy just working on the plugin as a hobby, but I won't turn down contributions. I just added a ko-fi donation link to the readme. Thanks so much!

[2022-07-29 19:43] jakewvincent opened #76 "Feature request: Magic paste/put command"
Idea: With a link source on the clipboard and a span highlighted, using the envisioned paste command would create a link using the visually selected text as the link name and the clipboard material as the link source.

This would be the markdown/vim equivalent of a feature in Slack and some document apps in which you can select a span of text, hit Ctrl/Cmd+V, and create a hyperlink using the link

[2022-08-03 15:46] vandalt opened #78 "Insert-mode mapping with leader causes lag"
Hi,

The default mappings for inserting table rows and columns use the `<leader>` key in insert mode. This causes a lag when the user intends to type the character of the leader key in insert mode. I have `<leader>` set to space, so this made the plugin feel slow when I first installed it.

It is not really a bug and the mappings are easy to change for users, but maybe adding a warning (or making

[2022-08-03 16:23] jakewvincent commented on #78
Thanks for bringing this up! I selfishly didn't think about the space-as-leader folks since I use backslash, but I went ahead and removed insert mode from the default mappings for those (in commit d9e58e701ff57da4e93bef0698f7022c0ff84a1e)--that lag is the worst.

[2022-08-03 16:23] #78 closed

[2022-08-03 18:13] vandalt commented on #78
Thanks for the quick response!

[2022-08-04 20:32] horriblename opened #79 "[bug] :MkdnExtendList splitting line in two when not on a list"
steps to reproduce:
1. place cursor on any line that is not a list of any kind
2. run `:MkdnExtendList`
3. the line is now split in half from where the cursor is

expected result:
original line should not be split up

[2022-08-05 03:56] jakewvincent commented on #79
Hi @horriblename, I'm not able to reproduce this. Is it happening when you call `:MkdnExtendList` from the command line, or do you have it mapped to something and you're calling it that way? I wonder if what's actually getting called is `:MkdnNewListItem`, which will split the current list item where the cursor is.

[2022-08-05 11:03] horriblename commented on #79
yes, I do:
[code]
I took a look at the code and I think i understand what's happening now, the command uses `feedkeys('<CR>', ...)` so it ended up being something like "press a then press enter". So I guess this is not a bug?

I changed my mapping to
[code]
and got what I wanted

I think mentioning this mapping somewhere in the doc would help others

[2022-08-05 11:12] horriblename commented on #79
To clarify, what I want with this mapping is to insert a new line, inherit any indentation and list prefixes if needed, then enter insert mode

[2022-08-05 13:58] nshen opened #80 "Destroy link failed"
when I press <M-CR> (Alt-Enter)
<img width="1565" alt="image" src="https://user-images.githubusercontent.com/181506/183092104-831cadab-220a-41ec-820e-1562e0b234a6.png">

[2022-08-05 15:20] jakewvincent commented on #79
I see. Thanks for the details! I'll look into this soon. I have also been wanting something like this but hadn't devoted any time to it yet.

[2022-08-05 17:46] nshen commented on #80
MkdnMoveSource also not work

[2022-08-05 18:44] jakewvincent commented on #80
Thanks. This is my bad--I broke these after refactoring one of the  functions they use. I will get this fixed ASAP.

[2022-08-05 18:47] jakewvincent commented on #80
If you need to go back to a working commit right away, you can specify `commit = '739b8b93530adbd5dfb2d3abff66752637442d41'` in your `use` command for mkdnflow.

[2022-08-06 05:00] jakewvincent commented on #80
The first (MkdnDestroyLink) is now fixed. MkdnMoveSource is temporarily disabled while I work on a fix for the issue there.

[2022-08-06 05:30] nshen commented on #80
cool thanks.

[2022-08-06 20:07] jakewvincent commented on #80
Just pushed a fix for the `:MkdnMoveSource` error as well. Closing this now, but please let me know if you experience any other issues with these commands. Thanks again for the bug report.

[2022-08-07 14:50] voyeg3r opened #81 "How to disable default mappings"
I have created a markdown.lua file at ftplugin/markdown.lua with this:

[code]

The I have commented these lines:

[code]

But when I run: `:verbose map ]]` it does not show my description, the mkdflow still maps these keys.

[2022-08-07 15:14] jakewvincent commented on #81
Hi @voyeg3r. Right--commenting out these in the config you pass to the setup function won't work because there's a default config that is overridden with anything you specify in your config. Since commented lines by nature aren't interpreted, the default will apply. Here are two ways you can disable the default mappings:

1. Instead of commenting them out, set them to `false` in your mkdnflow conf

[2022-08-10 19:24] vandalt opened #83 "autowriteall autocmd does not work when `hidden` is on"
Hi,

I'm not sure 100% of the cause, but when I follow a link, the autocommand suggested in the wiki (`vim.cmd('autocmd FileType markdown set autowriteall')` does not seem to automatically save the file. It does work when I do `:e someotherfile.txt` though. I think the first case does not work because I have `hidden` turned on in my config. I just wanted to point out that `vim.cmd('autocmd BufLeav

[2022-08-10 21:34] jakewvincent opened #84 "Following bib citekeys is broken"
Attempting to follow bib citekeys (e.g. `@chomsky1957`) is broken (at least in dev). The fact that these are citekeys is ignored, so the plugin currently converts them into a link.

[2022-08-11 16:02] jakewvincent commented on #79
Hi @horriblename, I've just pushed some changes to the `dev` branch that will allow the user to mimic expected behavior for `o` and `O` in lists. If you'd like to try it out, you can specify `branch = 'dev'` in your Packer `use` command for this plugin and manually add the following mappings:

[code]

The arguments to newListItem represent the following parameters:
1. `carry` (whether or not to ca

[2022-08-11 16:29] jakewvincent commented on #84
Fixed in commit 0ddc8528cc42d342d1e4d4dd59ac810b692b483b

[2022-08-11 16:29] #84 closed

[2022-08-11 16:35] jakewvincent commented on #83
Hi @vandalt, thanks for letting me know about this. I just took a look at `:h autowriteall` and `:h autowrite` and it looks like this is baked into `autowrite`, which is enabled when `autowriteall` is enabled:

[code]
I think this would be worth mentioning in the readme + help docs, so I will do that soon (or you're welcome to submit a PR if you'd like to).

[2022-08-12 02:47] jakewvincent commented on #83
Just updated the [readme in the `dev` branch](https://github.com/jakewvincent/mkdnflow.nvim/tree/dev). I'll push it to `main` with some other changes soon. Closing this issue. Thanks again!

[2022-08-12 02:47] #83 closed

[2022-08-12 05:35] jakewvincent commented on #79
Closing this issue. I've added two new commands `MkdnNewListItemBelowInsert` and `MkdnNewListItemAboveInsert` that will achieve the expected functionality. These are now mapped to `o` and `O` by default. The behavior should be as expected for the standard `o` and `O`, except when used in lists, it will add a new list item of the same type as the current line. Also see [https://github.com/jakewvinc

[2022-08-12 05:35] #79 closed

[2022-08-18 04:20] binyomen opened #85 "Feature: `MkdnEnter`/`MkdnFollowLink` follow links that are split across lines"
This isn't a major issue, but I often format my markdown with hard line breaks using the `gq` command in vim. Sometimes this splits long links across lines. Here are a couple examples:

[code]

Links split across lines are valid markdown at least in so far as tools like Pandoc and Marked properly parse them.

When I execute `MkdnEnter` (mapped to `{{'n', 'x'}, '<cr>'}`) or `MkdnFollowLink` (mapped

[2022-08-19 21:39] jakewvincent commented on #85
Hi @binyomen. Yeah, currently when you try to follow a link, the plug-in will look for a link pattern just on the line the cursor is on. This would definitely be possible to address, but I'll have to think a bit about what approach to take. Do you ever have links spanning more than two lines?

[2022-08-20 04:35] binyomen commented on #85
I rarely have links that are more than 3 lines, but it does occur sometimes.

I'm also not sure the best way to address this. I assume you don't want to rely on tree-sitter. You could do a search of the file where you replace all single newlines with spaces, search for links, then check if the cursor is on one of them, but that might be a performance hit. Maybe a reasonable heuristic would be to s

[2022-08-26 16:25] jakewvincent commented on #85
So, what I'm thinking is that when the followLink function is triggered, I'll have it retrieve the contextual lines as well and concatenation those with the cursor line (and update the cursor index accordingly). I'm not too sure how much of a performance hit this will result in--probably negligible, but if it's more than expected I might add a new config option. A corollary update I should probabl

[2022-08-26 19:40] hamzamohdzubair opened #86 "links = {conceal=true} breaks tables"
setting links = {conceal=true} in config breaks tables.

[2022-08-26 19:55] jakewvincent commented on #86
I presume this is when the tables have links in them?

On Aug 26, 2022, at 12:40 PM, Hamza Mohd. Zubair ***@***.***> wrote:

﻿

setting links = {conceal=true} in config breaks tables.

—
Reply to this email directly, view it on GitHub<https://github.com/jakewvincent/mkdnflow.nvim/issues/86>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AKYXJSUFNPJAAJHYPEYYO7TV3EMSLANCNFSM57XZRH

[2022-08-26 20:55] jakewvincent commented on #86
This is a little bit challenging since concealed length is not readily available (AFAIK), but I can look into it. It would require an additional step of determining the number of *concealable* characters in each cell and adjusting the character counts for those cells accordingly before formatting.

In the meantime, as a workaround that will still allow for smaller links, you can use reference-styl

[2022-08-27 06:47] hamzamohdzubair commented on #86
@jakewvincent This is an excellent workaround. Thanks a lot for such a quick response. By the way great work on the plugin, can't thank you enough. I have been wanting to move my workflow from vimwiki to someplace else, and your plugin seems to be the first step in that direction.

Also, if you could point me in the direction, i would like to make an attempt to get this to work, by "determining th

[2022-08-27 09:47] hamzamohdzubair commented on #86
@jakewvincent sadly, reference-style links are also concealed, when `conceal = true`, so we have the same issue with reference-style links as well inside a table.

[2022-08-28 03:11] jakewvincent commented on #85
@binyomen I've got this set up in the dev branch. If you want to pull that branch and test it out (specify `branch = 'dev'` if you're using Packer), that would be great. In your mkdnflow config, you'll need to specify the number of contextual lines to have the plugin consider (default is 0). The following config example would result in a total of three lines being considered when you follow a link

[2022-08-28 05:00] binyomen commented on #85
Sorry for the lack of responses! I'll be doing a decent amount of markdown this next week so I'll pull it and let you know if I run into any issues. Thanks so much for taking a look at this!

[2022-08-28 05:10] jakewvincent commented on #86
Ah, I forgot I added conceal patterns for reference-style links!

If you'd like to look into it, you can check out the `tables` module (`tables.lua` in `mkdnflow.nvim/lua/mkdnflow/`). There are I think two main relevant functions there: `extract_cell_data()`, which gathers data and metadata about the cells in a given row and is utilized by `ingest_table()`; and `format_table()`, which utilizes the

[2022-08-30 16:22] aidanlw505 opened #87 "MkdnMoveSource results in error"
When trying to move a file and rename a link either by pressing F2 or running MkdnMoveSource I get the following error:

[code]
It is successful in moving the file but it doesn't rename the link.

Here is my mkdwnflow setup.
[code]

[2022-08-30 16:29] jakewvincent commented on #87
Hi @aidanlw505, thanks for reporting this. I just noticed this issue myself a couple days ago. I'll take a look ASAP.

[2022-08-30 20:11] jakewvincent commented on #87
This should be fixed now (commit 9ccf1e76c9ddb288bf715594972c9e5093001762). Please pull the update @aidanlw505 and double check that it works as expected. Closing. Thanks again!

[2022-08-30 20:11] #87 closed

[2022-08-30 20:12] #81 closed

[2022-08-30 20:13] #55 closed

[2022-08-30 20:14] idr4n commented on #48
Hi and thanks for this cool plugin!

It seems like `nvim_wd_heel` is not working for me either (I just installed your plugin) . This is my perspective setting:

[code]

Say that I start an nvim session in cwd `~/foo` which is not a wiki directory (it doesn't have a`.wiki_root` file). Then I start editing a note in a subdirectory, say `~/foo/bar/note.md`, then nvim's current working directory chang

[2022-08-30 20:38] idr4n opened #88 "<CR> crashes Nvim"
Hi,

I noticed that if I press `<CR>` at the end of a line where there is no word/character, Nvim stops responding.

Say I'm editing this line (| represents the position of the cursor):

`- Some line here: |`

Then if I press `<CR>` Nvim stops responding somehow. However, if I press `<CR>` while at the beginning of a line (empty or not) or while on top of a character/word/selection, then it works

[2022-08-30 20:51] jakewvincent commented on #48
Hi @idr4n, thanks for trying out the plugin! Oddly, I can't reproduce this. `false` is not technically a valid setting for `fallback`, but I don't know if it will specifically cause any issues--you could probably keep it like that. When you start editing the note in the subdirectory, how are you opening that note? Are you following it using the plugin's mappings, or are you opening it with another

[2022-08-30 20:59] idr4n commented on #48
Hi and thanks for the quick reply.

Yes, I open the note with Telescope or fzf.vim. By plugin mapping you mean with `<CR>` when on top of a link?

[2022-08-30 22:42] jakewvincent commented on #48
Right, that's what I meant. I think it may be Telescope/fzf that is changing your working directory since I can't reproduce this on my end. I double-checked the function that changes working directory and can't see any accidental loopholes that would cause mkdnflow to change working directories without `nvim_wd_heel` being true. Can you run the following for me from a vim session just to make sure

[2022-08-30 22:58] jakewvincent commented on #88
@idr4n I just pushed an update that I think should fix this. Can you pull the update and let me know if it is fixed for you?

[2022-08-31 03:05] jakewvincent commented on #85
Oh this makes sense. I didn't think about how the destroy link function would work for multi-line links. MkdnMoveSource (for renaming a link and the corresponding file) won't work either. It might take me a few days to get to this--I need to work on a solution that will work well for all three of these functions.

[2022-08-31 09:26] idr4n commented on #48
Hi again,

`lua print(require('mkdnflow').config.perspective.nvim_wd_heel)` prints `false`.

It might be something in my config. However, without your plugin installed, Telescope/fzf does not change my working directory, it only happens when your plugin is installed/enable.

Don't worry, however, I have been using `fallback` set to `false` and at least for now I have not encountered issues with th

[2022-08-31 10:06] idr4n commented on #88
I just checked and although it fixes the issue of pressing enter at the end of the line, it doesn't work on empty lines. So basically it does work anywhere on a non-empty line, but not working on complete empty lines. I get this error:

<img width="1329" alt="image" src="https://user-images.githubusercontent.com/20104703/187654008-93ebd5d6-8261-4983-aac4-599ccdc93a7b.png">

[2022-08-31 15:26] jakewvincent commented on #88
Ah, thanks. Should be fixed now, if you can pull the latest update.

[2022-08-31 15:28] jakewvincent commented on #48
I see, how strange! Let me do a little more testing (with Telescope) to see if I can reproduce this and what might be causing the working directory change.

[2022-08-31 15:42] jakewvincent commented on #48
Still having trouble reproducing this, even with Telescope and various perspective settings. At first I thought maybe the plugin was being initialized each time you're switching buffers using Telescope, but it doesn't seem like that's happening in testing. In a session with mkdnflow enabled, what do you get when you issue `:set autochdir?` (including the question mark)?

[2022-08-31 16:29] idr4n commented on #88
Yes, it is working now as expected. Thanks for this!

[2022-08-31 16:29] #88 closed

[2022-08-31 16:36] idr4n commented on #48
`:set autochdir?` prints `noautochdir`.

If you are not being able to reproduce this don't worry then, it might be some hidden setting in my config. I will explore it on my side. Thanks again!

[2022-08-31 17:45] jakewvincent commented on #48
Huh, puzzling! Please do comment again if you figure out what's causing it.

[2022-09-01 06:12] binyomen commented on #85
Thanks so much for taking the time to look at this!

[2022-09-03 15:54] krankur opened #89 "Feature request: Autocompletion for links to headers"
I often find myself linking to headers and it's hard to remember full text of the headers in some cases so I find myself jumping back and forth between files to copy the exact text. It would be great if we there's a way to get autocompletion suggestions for headers.

[2022-09-08 04:38] ttw1018 opened #90 "disability of formatting table when "\|" not perfoming as a split sign exists in table ."
As the tilte says.

[2022-09-08 16:15] jakewvincent commented on #90
Hi, thanks for reporting this. I think this should be a relatively easy fix, but it might take me a couple days to get to it.

[2022-09-08 16:21] jakewvincent commented on #89
Hi, thanks for the issue. I agree that completions for headers would be nice, although I'll have to do a bit of learning to figure out how to implement that. In the mean time, are you aware of the `ya` ("yank anchor") mapping built into the plug-in? With your cursor on the heading, it will add a formatted anchor link to the register, and you can then go and paste that link wherever you like with `

[2022-09-09 06:46] krankur commented on #89
I wasn't aware of how "yank anchor" works. This is really useful. Thanks.

Meanwhile, I am working on adding auto-completion for anchors using ctags. I am half way through the implementation and I think it would work. But I may be wrong. Will share my findings here either way.

[2022-09-11 11:11] domas-v opened #91 "MkdnToggleToDo first state issue"
Hi there! Thank you for your work. I love the plugin.

I'm having issues with the `MkdnToggleToDo`
I have configured the `to_do.symbols` table to have three icons, installed the recommended luarocks module, but there is one thing that doesn't work for me - inserting a todo state to a bullet list. It always inserts the default (`[ ]`) not started state first. Then, when I want to toggle the started

[2022-09-12 09:51] jjiangweilan opened #92 "Feature request: Support angle brackets surrounding link sources"
I have many files that use whitespace as part of the file name. And the rule is written in the [spec](https://spec.commonmark.org/0.30/)

`[Clustered Deferred and Forward Shading](</docs/Clustered Deferred and Forward Shading.pdf>)` <- if I <enter> at this, mkdnflow gives an error, because it sees angle brackets as part of the path
![image](https://user-images.githubusercontent.com/13493742/189624

[2022-09-12 11:46] avucic opened #93 "Feature: MkdnMoveSource updates link references in other files in the notebook/wiki"
When file is renamed I'm expecting all link references to the same file in all related files will be updated with the new filename or not?

[2022-09-18 22:37] jakewvincent commented on #91
Hi @domas-v, sorry for the delay on this easy fix. Can you pull the latest update and try again?

[2022-09-19 00:26] jakewvincent commented on #93
Hi @avucic, thanks for the issue. The behavior you're experiencing is intentional/normal--only the link immediately under the cursor is renamed.

I do think this would be a nice enhancement to add in the future, although something like this will be more computationally expensive than renaming only the link under the cursor (and the cost will scale with the size of the notebook/wiki). I'll keep thi

[2022-09-21 08:25] #91 closed

[2022-09-21 08:26] jakewvincent commented on #90
Fixed in commit 69f8d9ab9d6c62cdf92a692e3ac4d21f5cb40cd6. Let me know if you have any issues with this.

[2022-09-21 08:26] #90 closed

[2022-09-21 08:36] jakewvincent commented on #92
Hi @jjiangweilan, sorry for the delay on this. I'm hoping to implement this soon.

[2022-09-21 09:24] ibnishak opened #94 "wrappers.lua:56 Attempt to index field 'modules' a nil value"
OS: Arch Linux
NVIM: 0.7.2

Packer Config:
[code]

Error on running `:MkdnEnter`.
<CR> key does nothing either.

[2022-09-21 14:31] ibnishak commented on #94
Closing this issue: Problem was that I had [telekasten](https://github.com/renerocksai/telekasten.nvim) plugin which was conflicting with mkdnflow. Removing telekasten solved the issue.

Great plugin you got here.

[2022-09-21 14:31] #94 closed

[2022-09-21 15:41] jakewvincent commented on #94
Happy to hear you got it resolved! Thanks for the update.

[2022-09-21 20:39] jakewvincent commented on #92
@jjiangweilan, would you mind pulling the latest update and letting me know if this is now working as expected?

[2022-09-21 21:07] #92 closed

[2022-09-23 04:41] ttw1018 opened #97 "Question: How to stop Mkdnflow from changing working directories after following a link"
How to keep the work space as previous along with going ahead with the link.

[2022-09-23 05:19] jakewvincent commented on #97
Please run `:h Mkdnflow-config-nvim_wd_heel` or search for `nvim_wd_heel` in the README. I think that might address your question.

[2022-09-24 17:05] #97 closed

[2022-09-26 15:17] jjiangweilan commented on #92
Thanks for taking time to implement this! I can confirm it works. I tested normal links and links starting with `file:`

[2022-10-03 03:48] jakewvincent commented on #85
@binyomen I've just pushed a new implementation of this that bakes in the consideration of contextual lines when following or manipulating links. The config key is still the same (`links.context`), but it's `0` by default. If you're able to test it, that would be great. Let me know how it goes. It should now be able to handle link following, link destruction, and link renaming when the link spans

[2022-10-05 20:33] jakewvincent commented on #70
Implemented in commit da503c660c7b6764c8fbf2742693fcf59f821a94. The current implementation uses `vim.loop.os_homedir()` to identify the user's home directory and replaces the result of that with string-initial `~`.

[2022-10-05 20:33] #70 closed

[2022-10-07 17:13] mfiano commented on #80
`MkdnDestroyLink` will raise a stacktrace with `mkdnflow/links.lua:608: attempt to perform arithmetic on local 'row' (a nil value)` if accidentally issuing it on a non-link. Can this be silenced?

[2022-10-08 20:39] jakewvincent commented on #80
Just pushed a small fix for this to `main`. Thanks for bringing it up.

[2022-10-08 20:39] #80 closed

[2022-10-08 20:49] mfiano commented on #80
Thanks for the quick fix and wonderful plugin!

[2022-10-08 21:47] jakewvincent commented on #76
Added this functionality in commit da9eb4dc5b67acee70098efb9cefa2ebdf7c585a. `<leader>p` can now be used to create a link from the word under cursor or visual selection, using compatible system clipboard content (e.g. a URL) as the source part of the link.

[2022-10-08 21:47] #76 closed

[2022-10-13 03:46] jakewvincent commented on #80
Glad you find it useful!

[2022-10-13 07:30] lumpsoid opened #98 "README.md is a little mixed up"
this part of the documentation is mixed up, because the true option does what is described as false

and it would be nice, if documentation have `(default)` marks after default options, because without it, you have to keep turning the page to understand what I want to change and what needs to be prescribed, as it is not default, and what to leave as it is

what is the best way to do this?
download

[2022-10-13 07:49] lumpsoid commented on #98
or create branch for this update from `dev` branch?

[2022-10-13 09:41] lumpsoid opened #99 "Bug: Can only jump to the first wiki-style link on a line"
In my workflow it often happens that more than one link is on one line.
By the behaviour of `mkdnflow` I found that it cannot currently "see" more than one link on a line.
I then tried to find the reason for this behaviour of `mkdnflow`, and found a function `toNextLink` in `mkdnflow.nvim/lua/mkdnflow/cursor.lua`, which relies on the `go_to` function, which iterates the file line by line, and only

[2022-10-13 10:53] lumpsoid commented on #99
if someone will search something around it →
easy and easy workaround if you use [hop.nvim](https://github.com/phaazon/hop.nvim) you could add this function to your hop setup
[code]
were hints will be created for the pattern – [[wiki-link]]

[2022-10-13 12:36] jjiangweilan opened #100 "Bug: mkdnflow freezes neovim when I press <tab> in insert mode"
I think this happens after I upgrade neovim to 0.8, I have disabled all the plugins in init.vim except mkdnflow. If you think it's only me hving the problem (which highly likely) could you please give me some direction to fix the issue? It only happens when I open a markdown file with mkdnflow on.

[2022-10-13 12:43] jjiangweilan commented on #100
after I diable  `MkdnTableNextCell = {'i', '<Tab>'}` and `MkdnTablePrevCell = {'i', '<S-Tab>'}`, the program works as expected. Maybe something wrong with these two's implementation in 0.8

[2022-10-13 13:38] jakewvincent commented on #98
Hi @lumpsoid, thanks for the issue. I'll get this fixed in the readme today. I've actually already started adding "default" next to default options but it's currently only in the dev branch readme while I test some other updates. I'll merge it to main soon.

[2022-10-14 04:35] lumpsoid commented on #99
yes, wiki-style links
something like this → [[20221014073339]]

[2022-10-15 21:33] jakewvincent commented on #99
@lumpsoid this should be fixed now. This was a simple oversight on my part due to me not using (or properly testing, apparently) wiki-links in my workflow. In the regex pattern for finding wiki-links, I had a greedy search for material in between the brackets `[[...]]`, so effectively, any material in between the start of the first link on a line and the end of the last link in a line was all reco

[2022-10-15 21:33] #99 closed

[2022-10-15 21:36] jakewvincent commented on #98
Fixed the description. As noted above, labels for default values will be added soon (already added in dev branch at time of issue creation). Thanks again for pointing this out @lumpsoid!

[2022-10-15 21:36] #98 closed

[2022-10-15 23:03] jakewvincent commented on #100
I've added a workaround for this. Like you suggested, this may have something to do with Neovim 0.8, but I couldn't figure out what that might have been, so I've made an update that accomplishes the same thing as before but does it in a different way. In my testing, it is now working as expected again. Thanks for the issue, and please feel free to reopen this if this doesn't seem to be resolved af

[2022-10-18 04:27] lumpsoid commented on #98
Thank you for your responsiveness!

[2022-10-18 04:41] lumpsoid commented on #99
Thank you for you work!

[2022-10-18 04:42] lumpsoid commented on #89
@krankur you can use the telescope, but you will need to create a custom action after pressing Enter on whatever note you find to insert the link in the format you want

[2022-10-18 21:06] lumpsoid commented on #89
@krankur
in this code you can find any line you want from files in the directory where you call the function (if I understand in right), in your case, as I understand you need `# something like this`
when you press Enter
you will create link with anchor (and I'm sorry, because I don't actually know which syntax you need in your notes, so you can change it in `selection` variable)

[code]

[2022-10-19 21:34] jakewvincent opened #101 "Feature idea: Integration with taskwarrior CLI"
https://taskwarrior.org/

* Add task to taskwarrior task list
* Append task metadata to task in mkdnflow once added to taskwarrior
* Update status of a task in mkdnflow -> update task status in taskwarrior
* ...

[2022-10-20 00:01] marshallishere commented on #100
I'm with this same issue. When I press tab the resources of my neovim goes up to 5Gb of ram and 15% of my process. I have the neovim version 8.0 from the Fedora repositories and with the latest version of your plugin.

[2022-10-20 07:12] jakewvincent commented on #100
@marshallishere, if you're positive you've recently updated the plug-in and restarted Neovim, I'll look back into this as soon as possible. Have you noticed if the issue occurs if you press tab while in a table?

[2022-10-20 09:44] marshallishere commented on #100
I created a new index.md, placed three |, typed 'something' on the first and then pressed tab. This makes the issue. I tested the command to make a table and this works without any problems.

[2022-10-21 03:33] ellislm commented on #101
@jakewvincent Great idea. I've recently started using taskwarrior (after dabbling in org mode) and really like it. I've been using the [taskwiki](https://github.com/tools-life/taskwiki) plugin and I like the more "dynamic" approach to integrating tasks in the notes using views. Have you looked into this at all? If so, how do you feel about this approach? I've been planning on digging through the c

[2022-10-22 19:09] jakewvincent commented on #100
Just to double check this is the same issue, are you getting the freezing when you press tab anywhere in a document while in insert mode?

[2022-10-24 23:17] marshallishere commented on #100
When I create the table like the way I said, yes.

[2022-10-25 05:19] jakewvincent opened #102 "Bug: Neovim freezes when pressing tab in tables without spaces"
I'm with this same issue. When I press tab the resources of my neovim goes up to 5Gb of ram and 15% of my process. I have the neovim version 8.0 from the Fedora repositories and with the latest version of your plugin.

_Originally posted by @marshallishere in https://github.com/jakewvincent/mkdnflow.nvim/issues/100#issuecomment-1284718546_

[2022-10-25 05:22] jakewvincent commented on #100
Got it. What you're experiencing seems to be a separate issue, so I've opened a [new issue](https://github.com/jakewvincent/mkdnflow.nvim/issues/102) with it and will address this further there. I've reproduced it, though, so I will get this fixed as soon as possible.

[2022-10-25 05:22] #100 closed

[2022-10-25 17:52] jakewvincent commented on #102
@marshallishere this should be fixed now. Can you pull the latest update and let me know if the same thing is still happening? Thanks.

[2022-10-25 17:52] #102 closed

[2022-10-26 15:00] marshallishere commented on #102
It's fixed, thanks!

[2022-10-26 15:02] marshallishere opened #103 "The table isn't recognized when is indented"
I was writting with the plugin and after finished a table, I indented it. When I came back to edit it again the table wasn't recognized.

[2022-11-05 02:05] binyomen commented on #85
I apologize for the incredibly late reply to this! It's been a wild month.

This works great! The only issue is that for multi-line links, text isn't properly rejoined with spaces. So for example this link:

[code]

Should become:

[code]

But instead it becomes:

[code]

[2022-11-30 07:20] kofm opened #104 "Mkdnenter on empty list item"
Sorry if this issue doesn't make sense, but I couldn't find this information in the documentation.

Using the default mapping, if I press <CR> on an empty list item, nothing happens. I expected the list item to be deleted (as in many Markdown editors). Is this intended, or am I missing something (maybe some other plugin keymapping conflicting with Mkdnflow)=

Thanks for this fantastic project

[2022-11-30 07:31] kofm commented on #101
If you're interested, I have some basic implementation that works by leveraging Telescope capabilities.  This is intended for personal use, so the code is a mess, but if you're interested, I could work more on it and share the code.
You can define a task filter on any of the pages and open the tasks related to that filter in Telescope with basic keybinding for completing the task
Here is a brief s